<div class="content">
  <div class="content-form">
    <h2>Crear cuenta</h2>
    <form action="/signup" class="admin-form" method="POST">
      <div class="mb-3 input">
        <label for="email" class="form-label">Email</label>
        <input type="{{user.email}}" type="email" class="form-control  {{#if errors.email}}is-invalid{{/if}}" id="email"
          name="email" aria-describedby="emailHelp" required>
        <div class="invalid-feedback">
          {{errors.email}}
        </div>
      </div>
      <div class="mb-3 input">
        <label for="username" class="form-label">Nombre de usuario</label>
        <input value="{{user.username}}" class="form-control {{#if errors.username}}is-invalid{{/if}}" id="username"
          name="username" required>
        <div class="invalid-feedback">
          {{errors.username}}
        </div>
      </div>
      <div class="mb-3 input">
        <label for="firstName" class="form-label">Nombre</label>
        <input value="{{user.firstName}}" class="form-control {{#if errors.firstName}}is-invalid{{/if}}" id="firstName"
          name="firstName" required>
        <div class="invalid-feedback">
          {{errors.firstName}}
        </div>
      </div>
      <div class="mb-3 input">
        <label for="lastName" class="form-label">Apellidos</label>
        <input value="{{user.lastName}}" class="form-control {{#if errors.lastName}}is-invalid{{/if}}" id="lastName"
          name="lastName" required>
        <div class="invalid-feedback">
          {{errors.lastName}}
        </div>
      </div>
      <div class="mb-3 input">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password"
          name="password" required>
        <div class="invalid-feedback">
          {{errors.password}}
        </div>
      </div>
      <div class="mb-3 input">
        <label for="repeat-password" class="form-label">Repita Contraseña</label>
        <input type="password" class="form-control" id="repeat-password" name="repeatPassword" required>
      </div>
      <div class="auth-btn">
        <button type="submit" class="btn btn-juicy-admin">Crear cuenta</button>
        <a href="/login/google" class="btn btn-juicy-admin">Crear cuenta con Google</a>
      </div>
    </form>


  </div>


  </div>