<h1>Sign up</h1>
<form action="/signup" method="POST">
<div class="mb-3">
  <label for="email" class="form-label">Email</label>
  <input type="{{user.email}}" type="email" class="form-control  {{#if errors.email}}is-invalid{{/if}}" id="email" name="email" aria-describedby="emailHelp" required>
    <div class="invalid-feedback">
      {{errors.email}}
    </div>
</div>
  <div class="mb-3">
    <label for="username" class="form-label">Username</label>
    <input value="{{user.username}}" class="form-control {{#if errors.username}}is-invalid{{/if}}" id="username" name="username" required>
    <div class="invalid-feedback">
      {{errors.username}}
    </div>
  </div>
  <div class="mb-3">
    <label for="firstName" class="form-label">First name</label>
    <input value="{{user.firstName}}" class="form-control {{#if errors.firstName}}is-invalid{{/if}}" id="firstName" name="firstName" required>
    <div class="invalid-feedback">
      {{errors.firstName}}
    </div>
  </div>
  <div class="mb-3">
    <label for="lastName" class="form-label">Last name</label>
    <input value="{{user.lastName}}" class="form-control {{#if errors.lastName}}is-invalid{{/if}}" id="lastName" name="lastName" required>
    <div class="invalid-feedback">
      {{errors.lastName}}
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control {{#if errors.password}}is-invalid{{/if}}" id="password" name="password" required>
    <div class="invalid-feedback">
      {{errors.password}}
    </div>
  </div>
  <div class="mb-3">
    <label for="repeat-password" class="form-label">Repeat password</label>
    <input type="password" class="form-control" id="repeat-password" name="repeatPassword" required>
  </div>
  <button type="submit" class="btn btn-dark">Create account</button>
  <a href="/login/google" class="btn btn-outline-primary">Sign in with Google</a>
  </form>


