<div class="content-detail"
   style="background-image: url('./images/pattern.png');"
      >
<h1>Cart</h1>
  <ul>

  {{cart.products.lenght}}
  {{#each cart.distinctProducts as |product|}}
   <li>{{product.name}}  × {{product.count}}</li>
     <img class="shadow img" src="{{product.img}}" alt="{{product.name}}" />  
     <p style="color: #98cfdb"> Precio: {{product.price}}€</p>

  {{/each}}
</ul>
<form action="/user/order" method="POST">
  <button type="submit" class="create-btn"  data-product-list="{{product}}">Crear pedido</a>
  

</form>


</div>
