<div class="row featurette content product-detail">
  <div class="col-md-6 left-side">
    <h1  class="text-capitalize" class="featurette-heading">{{product.name}}</h1>
    <p class="lead">{{product.propierties}} </p>
    <p style="color: #98cfdb" class="text-capitalize"> Ingredientes: {{product.ingredients}}</p>
    <p style="color: #98cfdb"> Precio: {{product.price}}€</p>
  </div>
  <div class="col-md-6 right-side">
    <img src="{{product.img}}" alt="{{product.name}}" class="w-100 shadow"
      class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500"
      role="img"></img>

  </div>
</div>

