<h1>Available products</h1>
<ul>
  {{#each products as |product|}}
  <li>
    <a href="/products/{{product.id}}/edit">
      {{product.name}}
      /
      {{product.propierties}}
      propierties /
      {{product.ingredients}}
      ingredients /
      {{product.prices}}
      prices /
      {{product.images}}
      images
    </a>
    {{#isAdmin currentUser=../currentUser}}
    <form action="/products/{{product.id}}/delete" method="POST">
      <button>Delete</button>
    </form>
    {{/isAdmin}}


      <a href="/products/{{product.slug}}">
        <button>detalle del producto </button>
      </a>


  </li>
  {{/each}}

</ul>
