{{!-- <div class="content">
<h1>Available products</h1>
<ul>
  
  {{#each products as |product|}}
  <li >
    <a href="/products/{{product.id}}/edit">
      {{product.name}}
      /
      {{product.propierties}}
      propierties /
      {{product.ingredients}}
      ingredients /
      {{product.price}}
      prices /
      {{product.img}}
      images
    </a>

      <button class="cart-btn" data-productid="{{product.id}}">Añadir al Carrito</button>
    {{#isAdmin currentUser=../currentUser}}
    <form action="/products/{{product.id}}/delete" method="POST">
      <button>Eliminar</button>
    </form>
     {{/isAdmin}}
      {{#isAdmin currentUser=../currentUser}}
    <form action="/products/create" method="GET">
      <button>Crear producto</button>
    </form>
    <form action="/products/{{product.id}}/edit" method="GET">
      <button>Actualizar producto</button>
    </form>
    
     {{/isAdmin}}
     


      <a href="/products/{{product.slug}}">
        <button>Detalle del producto </button>
      </a>


  </li>
  {{/each}}

</ul> --}}



<div class="container my-5">
  <div class="row">
      {{#each products as |product|}}
      <div class="col-lg-6 product-card gx-4">
        <img class="shadow img" src="{{product.img}}" alt="{{product.name}}"/>
          <div class="mt-4">
            <h4 class="bold"> {{product.name}}</h4>   
            <a href="/products/{{product.slug}}" class="btn btn-juicy-green" > Ver detalles</a>
          </div>
        </div>
        {{/each}}
    </div>
</div>


