<div class="content">
<h2>Update the product</h2>
<form action="/products/{{product.id}}/edit" method="POST">
<div>
    <label for="name">Nombre del producto</label>
    <input value="{{product.name}}" id="name" type="text" name="name"  placeholder="Nombre del producto" required />
</div>
<div>
    <label for="propierties">Propiedades del producto</label>
    <input value="{{product.propierties}}" id="propierties" type="text" name="Propiedades" placeholder="Propiedades de los productost" required />
</div>
<div>
    <label for="ingredients">Ingredientes del producto</label>
    <input value="{{product.ingredients}}" id="ingredients" type="text" name="Ingredientes" placeholder="Ingredients with the product" required />
</div>
<div>
    <label for="prices">Precio del producto</label>
    <input value="{{product.prices}}" id="prices" type="number" name="Precio" placeholder="Precio del producto" required />
</div>
<div>
    <label for="images">Imágen del producto</label>
    <input value="{{product.image}}" id="images" type="files" name="Imángen" placeholder="Imágen del producto" required />
</div>
</div>
</form>

</div>

