<h2>Update the product</h2>
<form action="/products/{{product.id}}/edit" method="POST">
<div>
    <label for="name">Name of the product</label>
    <input value="{{product.name}}" id="name" type="text" name="name"  placeholder="Name with the product" required />
</div>
<div>
    <label for="propierties">Propierties of the product</label>
    <input value="{{product.propierties}}" id="propierties" type="text" name="propierties" placeholder="Propierties with the product" required />
</div>
<div>
    <label for="ingredients">Ingredients of the product</label>
    <input value="{{product.ingredients}}" id="ingredients" type="text" name="ingredients" placeholder="Ingredients with the product" required />
</div>
<div>
    <label for="prices">Price of the product</label>
    <input value="{{product.prices}}" id="prices" type="number" name="prices" placeholder="Price with the product" required />
</div>
<div>
    <label for="images">Images of the product</label>
    <input value="{{product.image}}" id="images" type="files" name="images" placeholder="Image with the product" required />
</div>
</div>
</form>